<h1>New Supplier</h1>

<form action="/suppliers" method="post">
  <label for="name">Name: </label>
    <input id="name" type="text" name="name"/>

  <label for="adress">Adress: </label>
    <input id="adress" type="text" name="adress"/>

  <label for="phone">Phone number: </label>
    <input id="phone" type="text" name="phone"/>

  <label for="email">Email adress: </label>
    <input id="email" type="text" name="email"/>
    <input type="submit"  value="Add suppliers"/>

</form>
