<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flower shop inventory</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/products/new">Create New Product</a></li>
        <li><a href="/suppliers">Suppliers</a></li>
        <li><a href="/suppliers/new">Create New Supplier</a></li>
        <li><a href="/Stock">Stock</a></li>
      </ul>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
