<h1>Add or remove stock</h1>

<form method="post" action="/stocks/<%= @product.id %>">
  <label for="name">Name: </label>
    <input id="name" type="text" name="name" value="<%= @product.name %>">

  
  <label for="quantity">Quantity: </label>
    <input id="quantity" type="number" name="quantity" value="<%= @stock.quantity %>">

    <input type="submit"  value="Edit product">



</form>
