body {

  background-image: url("../images/dandelion_background.jpg");
  background-size: cover;
  background-repeat:no-repeat;

}

nav ul {
  font-size: 1.8rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 200px; */
  /* background-color: #f1f1f1; */
}

nav li a {
  float: left;
  /* display:inline; */
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}


nav li a:hover {
  background-color: #85B9E8;
  color: white;
  box-shadow: -25px 26px 19px 0px #05518E;
}
a, a:visited { color:#000;}


h1 {
  font-size: 3rem;
  font-family: Capriola;
}

p {
  font-size: 1.8rem;
}

label {
  font-size: 1.5rem;
}
 input {
   font-size: 1.1rem;
 }

 select {
   font-size: 1.3rem;
 }



.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.center  {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submit{
  font-size: 1.4rem;
}
#suppliers {
  font-family: "Amethysta", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#suppliers td, #suppliers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#suppliers tr:nth-child(even){background-color: ##5799D3;}

#suppliers tr:hover {background-color: #5497D2;}

#suppliers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5497D2;
  color: white;
}
#products {
  font-family: "Amethysta", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #products tr:nth-child(even){background-color: ##5799D3;} */

#products tr:hover {background-color: #5497D2;}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5497D2;
  color: white;
}

#out-of-stock {
  background-color: red;

}

#low-in-stock {
  background-color: #FA723F;
}

#order-quickly {
  color: red;
  background-image: url("../images/warning_croped.png");

  /* background-repeat: repeat; */
  background-size: contain;
}

#show {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
